NEXT_PUBLIC_SUPABASE_URL=https://vzsdndmxqyfdcxwursdz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ6c2RuZG14cXlmZGN4d3Vyc2R6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjkwMDYxMDMsImV4cCI6MjA0NDU4MjEwM30.lX1-jSe4D_VvlHrrxsLfNdQv_h_ElE9siYH62JNW9W8